/* Estilos gerais */

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px; /* Removendo o padding das listas */
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none; /* Removendo as marcações da lista */
}

a {
  text-decoration: none; /* Removendo o sublinhado dos hiperlinks*/
}

img {
  display: block;
  max-width: 100%; /* Possibilita a imagem diminuir quando a tela é diminuida */
}

* {
  box-sizing: border-box;
}

/* SuperInfo */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo-bg a {
  color: white;
}

.superinfo {
  max-width: 960px; /* Definindo o tamanho do container */
  margin: 0 auto; /* centralizando os elementos */
  display: flex; /* Os elementos "ficam inline" e não em coluna como estava sem essa propriedade */
  justify-content: space-between; /* Criando espaço entre os elementos de acordo com o tamanho do container */
  flex-wrap: wrap; /* Evita de quebrar os elementos caso diminua a tela, os mesmo se transformam em colunas */
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

/* Menu */

.menu-bg {
  background-color: #2c70ff;
  color: white;
}

.menu-bg a {
  color: white;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  font-size: 36px;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 16px;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* Introdução */

.introducao {
  font-size: 48px;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* Sobre */

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px; /* A última propriedade é a basis, foi indicado o tamanho inicial do flex item antes da distribuição do espaço restante*/
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 48px;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* produtos */

.produtos{
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1{
  font-size: 48px;
  margin: 0 10px 60px 10px;  
}

.produtos-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item{
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2{
  font-size: 48px;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid#ae81ff ;
}

.pink {
  border-top: 8px solid#f9265e ;
}

.blue {
  border-top: 8px solid#66d9eb ;
}

/* preço */

.preco {
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item{
  flex: 1;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2{
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.preco-item sup{
  font-size: .5em;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.preco-item li:after{
  /* Criando um marcador azul */
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;/* para arredondar o marcador */
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid ;
  color: #222222;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}

/* Qualidade */

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;  
  flex-wrap: wrap;
  
}

.qualidade-item{
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
  background: #66d9eb;
}

.qualidade-item p{
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form{
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito", Helvetica, Arial;
  font-size: 2.25em; 
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  margin: 0;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

/* Footer */

.footer {
  display: flex;
  background: #2c70ff;
  height: 200px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em ;
  color: #122ab2;
}

